#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
} */

/* .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1; 
} */

.tooltip {
  z-index: 1;
  position: absolute;

  background-color: white;
}

/* .tooltip:hover .tooltiptext {
  visibility: visible;
} */

#saveBtn {
  /* margin-left: 10 px;
  margin-right: 10 px; */
  min-width: 80px;
}

#cancelBtn {
  background-color: #edf4f4;
  color: #172d35;

  margin-left: auto;
  margin-right: 0;
  min-width: 90px;
}


/* WITH FLEXBOX */
.flex .wrapper {
  background-color: #edf4f4;

  display: flex;

  max-width: 1100px;
}

.flex .btn {
  background-color: #d1ed7e;
  color: #172d35;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 10px;
}
